
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form method="POST" id="authForm">
        <div>
            <p>
                <h1>DAON 다온</h1>
            </p>
            <h3>로그인</h3>
            <p>
                <label for="id">ID&nbsp&nbsp&nbsp</label>
                <input type="text" id="id" name="id" placeholder="학번">
            </p>
            <p>
                <label for="pw">PW&nbsp&nbsp</label>
                <input type="password" id="pw" name="pw" placeholder="PW">
            </p>
        </div>
        <input type="submit" name="sign_in" value="로그인" style="width: 183pt"/>
        <p>
            <input type=button style="width: 183pt" value="회원가입" name="register" onclick="location.href='register'">
        </p>
    </form>
</body>
</html>
